@tailwind base;
@tailwind components;
@tailwind utilities;

.focus-visible\:ring-ring:focus-visible {
  --tw-ring-color: none !important;
}

.data-\[state\=active\]\:bg-background[data-state="active"]{
  background-color: #4238CA !important;
}

.data-\[state\=active\]\:bg-background[data-state="active"]:hover{
    background-color: #4F46E5!important;
  }

.data-\[state\=active\]\:text-foreground[data-state="active"]{
  color: #fff !important;
}

::-webkit-scrollbar {
  width: 5px; /* Largura da barra de rolagem */
}

/* Estilo para o "trilho" da barra de rolagem */
::-webkit-scrollbar-track {
  background: #3f3e3e; /* Cor do trilho */
}

/* Estilo para o "polegar" da barra de rolagem */
::-webkit-scrollbar-thumb {
  background: #888; /* Cor do polegar */
  border-radius: 10px; /* Arredondamento das bordas do polegar */
}

/* Estilo para o polegar quando o mouse passa sobre ele */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Cor do polegar quando hover */
}

body {
  user-select: none;
}

.message {
  overflow-wrap: break-word; /* Quebra a palavra para evitar o estouro */
  word-break: break-word;    /* Quebra palavras longas */
  white-space: pre-wrap;     /* Respeita as quebras de linha e espaços */
}

@media screen and (max-width: 768px) {
  .message {
    white-space: pre-wrap;
  }

  .hidden-mobile {
    z-index: 10000;
  }
  
}


@keyframes strike {
  0% { width: 0; }
  100% { width: 100%; }
}

.animate-strike {
  position: relative;
}

.animate-strike::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #98a0f5;
  transform: translateY(-50%);
  animation: strike 0.5s forwards;
}
