@tailwind base;
@tailwind components;
@tailwind utilities;

.focus-visible\:ring-ring:focus-visible {
  --tw-ring-color: none !important;
}

.data-\[state\=active\]\:bg-background[data-state="active"]{
  background-color: #4238CA !important;
}

.data-\[state\=active\]\:bg-background[data-state="active"]:hover{
    background-color: #4F46E5!important;
  }

.data-\[state\=active\]\:text-foreground[data-state="active"]{
  color: #fff !important;
}
